#body {
    background-color: white;
	height: 100%;
    width: 100%;
}

#header{
	font-size: 35px;
	font-weight: bold;
	text-transform:uppercase;
    padding: 1em;
    color: white;
    background-color: #263240;
    text-align: center;
	width: 100%;
}


#footer {
	font-size: 18px;
    padding: 1em;
    color: white;
    background-color: #263240;
    text-align: center;
	width: 97%;
	margin: auto;
    overflow: hidden;
}


#container {
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #263240;
    top: 200px;
    width: 100%;
}

li:nth-of-type(8) {
	float: right;
}

li:nth-of-type(7) {
	float: right;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h3 {
    text-transform:uppercase;
    font-size : 14px;
    color : white;
}

.copyright {
    float: left;
}

.design {
    float: right;
}

p
{
    text-align:center;
       	   }
		   
.styleform
{
	border: 5px solid;
}

		   
		   
.styleform label
{
    float:left;
    width: 40%;
    text-align:right;
    }
.styleform input
{
    float:left;
    width: 30%;
    }